.landingImage {
    z-index: 0;
}

.landingText {
    position: absolute;
    z-index: 1;
}

.textContainer{
    position: absolute;
    top: 50%;
    right: 17.5%;
    color: white;
    z-index: 2;
    justify-content: center;
    text-align:center ;
}