.cardContainer{
    position: relative;
    text-align: center;
    color: black;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardPicture:hover {
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.cardText{
    display: none;
}

.cardContainer:hover .cardText{
    display: block;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
