.cardContainer{
    position: relative;
    text-align: center;
    color: black;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardText{
    display: none;
}

.cardPicture:hover{
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.cardContainer:hover .cardText{
    display: block;
    color: black;
    position: absolute;
    font-size: 40px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
}

/* Modal Styles */ 

.modalBackground{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.modalContainer {
    position: relative;
    width: 80%;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    border-radius: 4px;
}

/* Close button */

.close {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .close::before, .close::after {
    position: absolute;
    left: 15px;
    content: "";
    height: 40px;
    width: 2px;
    background: #111;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
/* Modal Mobile settings*/

@media (max-width : 800px) {
    .modalContainer {
        flex-direction: column;
        width: 100%;
    }

    .modalImage {
        width: 90%;
    }
    .modalText {
        width: 90%;
        background-color: blue;
    }
}

.modalCloseButton {
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalImage {
    position: relative;
    width: 300px;
    height: 400px;
}

.modalText{
    width: 50%;
    height: 50%;
    padding-right: 40px;
    padding-left: 40px;
}