.container {
  padding-top: 100px;
  padding-left: 90px;
  padding-right: 90px;
  background: linear-gradient(10deg, rgba(26,95,106,1) 30%, rgba(0,0,0,0) 30%), linear-gradient(10deg, rgba(0,0,0,0)70%, rgba(26,95,106,1) 70%);
  color: black;
}

.cardContainer {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}

.cardContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.cardContainer::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
  border-radius: 30px;
}

.cardContainer::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}