.container {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  background: rgb(24,39,54);
  background: linear-gradient(90deg, rgba(24,39,54,1) 36%, rgba(15,22,33,1) 88%);
  color: white;
}

.cardContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  grid-gap: 30px;
}
